# single mbr partition, comes up as mmcblk0p1. zImage is inside it at /boot
image sdcard.img {
	hdimage {
		partition-table-type = "mbr"
	}

	partition rootfs {
		partition-type = 0x83
		bootable = "true"
		image = "rootfs.ext2"
	}
}
